# Dev environment
pip
autopep8==2.1.1

# App
Flask==3.0.3
Flask-RESTful==0.3.10
python-dotenv==1.0.1
psycopg2-binary==2.9.9
sqlalchemy==2.0.1
pandas==2.2.2

#Parsers
webargs==8.4.0
marshmallow==3.21.2

#Pydantic
pydantic-2.7.2
Flask-Pydantic-0.12.0